html {
  font-family: system-ui, sans-serif;
  background: #fefefe;
  background-size: 224px;
}

body {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: rgb(65, 96, 253) !important;
}

a:visited {
  text-decoration: none;
  color: rgb(65, 96, 253) !important;
}

nav {
  height: 4rem;
  /*transform: translateY(-100%) translateZ(0px);*/
  /* --tw-backdrop-saturate: saturate(1.5);
		backdrop-filter: blur;  */
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.95);
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  box-shadow: 0 12px 20px 6px rgb(104 112 118 / 0.08);
  z-index: 9000;
}

nav h1 {
  background: linear-gradient(140deg, #fc8080, #fbb800);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1024px;
  width: 100%;
  display: flex;
  z-index: 40;
  position: relative;
}

.col {
  text-decoration-line: none;
  background-color: transparent;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
}

table {
  width: 100%;
}

thead {
  background-color: #f4f4f5;
}

tr {
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}

tr:hover {
  background-color: #f4f4f5;
}

.card {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 15px;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.card.default {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card.error {
  color: #c2174c;
  background-color: rgb(254 231 239);
  box-shadow: rgba(254 231 239, 0.6) 0px 3px 8px;
}

.card .content {
  -webkit-font-smoothing: auto;
  text-align: left;
  padding: 0.75rem;
  overflow-wrap: break-word;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.button {
  font-family: system-ui, sans-serif;
  font-size: medium;
  text-decoration: none;
  border: none;
  transition-property: transform, color, background, background-color,
    border-color, text-decoration-color, fill, stroke, opacity;
  transition-timing-function: ease;
  transition-duration: 0.25s;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-weight: 400;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  box-sizing: border-box;
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  opacity: 80%;
}

.button > .label-left {
  margin-right: 15px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.is-loading {
  opacity: 60% !important;
  cursor: wait;
}

.default {
  background-color: rgb(212, 212, 216);
  color: black;
}

.default.shadow {
  box-shadow: rgba(212, 212, 216, 0.35) 0px 5px 15px;
}

.button .primary {
  background-color: rgb(1, 112, 240);
  color: white;
}

.button.primary.shadow {
  box-shadow: rgba(1, 112, 240, 0.35) 0px 5px 15px;
}

.button.success {
  background-color: #3dc798;
  color: white;
}

.button.success.shadow {
  box-shadow: rgba(61, 199, 152, 0.35) 0px 5px 15px;
}

form {
  width: 100%;
  overflow: none;
  /* display: flex; */
}

.field {
  width: 100%;
  cursor: text;
  transition-property: background;
  transition-timing-function: ease;
  transition-duration: 0.15s !important;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 10px;
  background-color: rgb(245, 244, 245);
}

.field:hover {
  background-color: rgb(228, 228, 228);
}

.field:focus-visible {
  background-color: rgb(245, 244, 245) !important;
}

.field label {
  --tw-text-opacity: 1;
  font-size: small;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: medium;
}

input[type="number"] {
  width: calc(100% - 50px);
  border: none;
  outline: none;
  background-color: inherit;
  font-size: medium;
}

span {
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

input[type="checkbox"] {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: medium;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: medium;
  font-family: inherit;
  resize: vertical;
}

select {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font-size: medium;
  font-family: inherit;
}

.form-footer {
  text-align: right;
  padding-right: 10px;
}
